{% extends 'base.html' %}

{% block title %}Home - MyShop{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <h1>Welcome to MyShop 🛒</h1>
    <p>Best Products at Affordable Price</p>
    <a href="{% url 'shop:services' %}" class="btn btn-primary">Shop Now</a>
</div>


        <!-- Category Sidebar -->
        <div class="col-md-3">
            <h4 class="mb-3">Categories</h4>

            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'shop:category_products' category.slug %}"
                       class="text-decoration-none">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>


<!-- Products Section -->
<div class="container mt-5">
    <div class="row">

        {% for product in products %}

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">

                <img src="{{ product.image }}"
                     class="card-img-top"
                     alt="{{ product.name }}"
                     style="height:300px; object-fit:cover;">

                <div class="card-body d-flex flex-column">

                    <h4>
                        <a href="{% url 'shop:product_details' product.id %}"
                           class="text-decoration-none text-dark">
                            {{ product.name }}
                        </a>
                    </h4>

                    <p>{{ product.description }}</p>

                    <h5 class="text-success">৳ {{ product.price }}</h5>

                    <p><strong>Stock:</strong> {{ product.stock }}</p>

                    <div class="mt-auto">
                        <a href="{% url 'shop:product_details' product.id %}"
                           class="btn btn-primary">
                            View Details
                        </a>

                        <a href="{% url 'cart:add_to_cart' product.id %}"
                           class="btn btn-success">
                            Add to Cart
                        </a>
                    </div>

                </div>

            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}