{% extends 'base.html' %}


{% block title %}
Edit Profile
{% endblock %}




{% block content %}


<div class="container mt-5">


<div class="row justify-content-center">


<div class="col-md-7">


<div class="card shadow">


<div class="card-header bg-dark text-white">

<h4 class="mb-0">
Update Profile
</h4>

</div>



<div class="card-body">



<form method="POST" enctype="multipart/form-data">


{% csrf_token %}





<!-- Profile Image Preview -->

<div class="text-center mb-4">


{% if request.user.profile.profile_picture %}

<img 
id="imagePreview"
src="{{request.user.profile.profile_picture.url}}"
width="130"
height="130"
class="rounded-circle shadow"
style="object-fit:cover;"
>


{% endif %}



</div>





<div class="mb-3">

<label class="form-label">
First Name
</label>


{{user_form.first_name}}

</div>






<div class="mb-3">

<label class="form-label">
Last Name
</label>


{{user_form.last_name}}

</div>






<div class="mb-3">

<label class="form-label">
Email
</label>


{{user_form.email}}

</div>






<div class="mb-3">

<label class="form-label">
Profile Picture
</label>


{{profile_form.profile_picture}}

</div>







<div class="mb-3">

<label class="form-label">
Phone Number
</label>


{{profile_form.phone}}

</div>






<div class="mb-3">

<label class="form-label">
Date of Birth
</label>


{{profile_form.date_of_birth}}

</div>







<div class="mb-3">

<label class="form-label">
Gender
</label>


{{profile_form.gender}}

</div>







<button type="submit" 
class="btn btn-success">

<i class="bi bi-check-circle"></i>
Save Changes

</button>



<a href="{% url 'user_accounts:profile' %}"
class="btn btn-secondary">

Cancel

</a>



</form>



</div>


</div>


</div>


</div>


</div>



{% endblock %}






{% block scripts %}


<script>


const imageInput = document.querySelector(
'input[type="file"]'
);


const preview = document.getElementById(
'imagePreview'
);



if(imageInput){


imageInput.addEventListener(
"change",
function(){

const file = this.files[0];


if(file && preview){

preview.src =
URL.createObjectURL(file);

}


});


}



</script>


{% endblock %}