{% extends 'base.html' %}



{% block title %}
Edit Profile
{% endblock %}




{% block content %}



<div class="container mt-4">


<div class="card shadow">


<div class="card-header">

<h4>
Update Profile
</h4>

</div>



<div class="card-body">



<form method="POST"
enctype="multipart/form-data">


{% csrf_token %}



<div class="mb-3">

<label>
First Name
</label>

{{user_form.first_name}}

</div>



<div class="mb-3">

<label>
Last Name
</label>

{{user_form.last_name}}

</div>



<div class="mb-3">

<label>
Email
</label>

{{user_form.email}}

</div>




<div class="mb-3">

<label>
Profile Picture
</label>


{{profile_form.profile_picture}}


</div>




<div class="mb-3">

<label>
Phone Number
</label>


{{profile_form.phone}}


</div>




<div class="mb-3">

<label>
Date of Birth
</label>


{{profile_form.date_of_birth}}


</div>




<div class="mb-3">

<label>
Gender
</label>


{{profile_form.gender}}


</div>




<button class="btn btn-success">

Save Changes

</button>



<a href="{% url 'user_accounts:profile' %}"
class="btn btn-secondary">

Cancel

</a>




</form>


</div>


</div>


</div>



{% endblock %}