<div class="sidebar shadow">


<h4 class="text-center">
My Account
</h4>



<a href="{% url 'user_accounts:dashboard' %}">
Dashboard
</a>


<a href="{% url 'user_accounts:profile' %}">
My Profile
</a>


<a href="#">
My Orders
</a>





<a href="{% url 'wishlist:wishlist' %}">
Wishlist
</a>



<a href="#">
Address Book
</a>



<a href="#">
Recently Viewed
</a>



<a href="#">
Reviews
</a>



<a href="#">
Notifications
</a>



<a href="#">
Change Password
</a>



<a href="#">
Account Settings
</a>




<a href="#">
Logout
</a>



</div>